{% extends 'base.html' %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div>
        <input type="text" placeholder="first name" name="fname">
    </div>
    <div>
        <input type="text" placeholder="last name" name="lname">
    </div>
    <div>
        <input type="text" placeholder="email" name="email">
    </div>
    <div>
        <input type="text" placeholder="username" name="username">
    </div>
    <div>
        <input type="text" placeholder="password" name="password">
    </div>
    <div>
        <input type="text" placeholder="confirm password" name="cpassword">
    </div>
    <button>submit</button>
</form>

{% endblock %}